.tilebutton{
     float: right !important;
     margin-left: 2px;
     margin-right: 2px;
   }
   .secondary-color{
    color: #ebd8f0 !important;
    background-color: #ebd8f0 !important;
   }
   .primary-color{
    color: #923da8 !important;
    /*background-color: #923da8;*/
   }
 .white-bg{
    background-color: #ffffff;
    border-color: #ffffff;
 }
 .custom-bg
 {
    background: rgb(117,138,246);
    background: radial-gradient(circle, rgba(117,138,246,1) 0%, rgba(216,160,172,1) 100%);
 }
 footer {
    background: #19235a;
    /*background: linear-gradient(16deg, rgba(10,38,183,1) 0%, rgba(194,74,100,1) 100%);*/
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }
  .jumbotron{
    background: inherit;
  } 
  .navbar{
    background: inherit;
    border-width: 0px;
  }