<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo - SingleFocus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='todoListApp.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="mypage">
<!-- <div class="container"> -->

<div class="white-bg">
  <nav class="navbar navbar-inverse custom-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img class="img-responsive" src="{{ url_for('static', filename='images/todologo.png') }}" width="120" height="120" alt="singlefocus">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="jumbotron text-center" >
  <img class="img-responsive center-block" src="{{ url_for('static', filename='images/todologo.png') }}" width="360" height="360" alt="singlefocus">
</div>
</div>
  
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4 text-center"><br><br><br><br>
      <a class="btn btn-lg btn-success" href="/register"><span class="glyphicon glyphicon-user"></span> Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-lg btn-success" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a><br><br><br><br>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
<br><br><br><br><br>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-4">
      <h2 class="center">Access Anywhere Anytime</h2>
      <p class="light">You can access your todo list anywhere anytime.</p>
    </div>

    <div class="col-sm-4">
      <h2 class="center">Free to Use</h2>
      <p class="light">You can play any number of times. No Hidden Costs.</p>
    </div>
    <div class="col-sm-4">
      <h2 class="center">No Pen & Paper Needed</h2>
      <p class="light">No more hustle of collecting pen and paper before starting a game.</p>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>

<div id="contact" class="bg-grey-dark">
  <div class="container">
  <div class="row">
      <div class="col-lg-4 col-xs-12 light-grey">
        <h2>About this site</h2>
        <p>Start your day to day activities with singlefocus.
        <br><br>
        <h3>Developers</h3>
        <p>Nitish Srivastava</p>
        <p>Shivani Rathi</p>
      </div>
      <div class="col-lg-4 col-xs-12 light-grey">
        <h2>Contact</h2>
        <p><span class="glyphicon glyphicon-map-marker"></span> PH2, Srinivasa apartment,green glen layout</p>
        <p>Bellandur,Banglore Pincode-560103</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 7874383436 , +91 9958087983</p>
        <p><span class="glyphicon glyphicon-envelope"></span> info@singlefocus.in</p>
      </div>
      <div class="col-lg-4 col-xs-12 light-grey">
        <h2>Social Media</h2>
        <a href="https://twitter.com/singlefocus_in" target="_blank" class="fab fa-twitter "></a>
        <a href="https://www.facebook.com/profile.php?id=100084310552800" target="_blank" class="fab fa-facebook "></a>
        <a href="https://www.instagram.com/singlefocus.in/" target="_blank" class="fab fa-instagram "></a>
        <a href="https://www.linkedin.com/in/singlefocus-productivity-b87901248" target="_blank" class="fab fa-linkedin"></a>
      </div>
  </div>
</div>
</div>

<footer class="text-center bg-grey-dark">
  <a href="#mypage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up custom-color"></span>
  </a>
</footer>

<!-- <footer>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-3 col-xs-12 about-company">
      <a href="/">
        <img class="img-responsive" src="{{ url_for('static', filename='images/companylogo.png') }}" width="150" height="150" alt="singlefocus"><br>
        <p class="pr-5 text-white-50">Start your day to day activities with singlefocus. </p>
      </a>
    </div>
    <div class="col-lg-2 col-xs-12 links">
      <h4>Developers</h4><hr>
      <p>Nitish Srivastava</p>
      <p>Shivani Rathi</p>
    </div>
    <div class="col-lg-3 col-xs-12 location">
      <h4>Connect with us @</h4><hr>
      <p>Ph2,Srinivasa apartment,green glen layout,</p>
        <p>Bellandur,Banglore Pincode-560103</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>9958087983</p>
      <p><i class="fa fa-envelope-o mr-3"></i>info@singlefocus.in</p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col copyright text-center">
    <p class=""><small class="text-white-50">© 2022. All Rights Reserved.</small></p>
  </div>
</footer> -->

</body>
</html>