<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo - SingleFocus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='todoListApp.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <div class="container"> -->

<div class="custom-bg">
  <nav class="navbar navbar-inverse custom-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img class="img-responsive" src="{{ url_for('static', filename='images/todologo.png') }}" width="120" height="120" alt="singlefocus">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register" class="primary-color"><span class="glyphicon glyphicon-user primary-color"></span> Register</a></li>
      <li><a href="/login" class="primary-color"><span class="glyphicon glyphicon-log-in primary-color"></span> Login</a></li>
    </ul>
  </div>
  </div>
</nav>

<div class="jumbotron text-center" >
  <img class="img-responsive center-block" src="{{ url_for('static', filename='images/todologo.png') }}" width="360" height="360" alt="singlefocus">
</div>
</div>
  
<!-- <div class="container"> -->
  <div class="row white-bg">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4"><br><br><br><br>
      <a class="btn btn-lg btn-success" href="/register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-lg btn-success" href="/login">Login</a><br><br><br><br>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
<!-- </div> -->
<br><br><br><br><br><br><br><br><br><br><br><br>

<footer>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-3 col-xs-12 about-company">
      <a href="/">
        <img class="img-responsive" src="{{ url_for('static', filename='images/companylogo.png') }}" width="150" height="150" alt="singlefocus"><br>
        <p class="pr-5 text-white-50">Start your day to day activities with singlefocus. </p>
      </a>
    </div>
    <div class="col-lg-2 col-xs-12 links">
      <h4>Developers</h4><hr>
      <p>Nitish Srivastava</p>
      <p>Shivani Rathi</p>
    </div>
    <div class="col-lg-3 col-xs-12 location">
      <h4>Connect with us @</h4><hr>
      <p>Ph2,Srinivasa apartment,green glen layout,</p>
        <p>Bellandur,Banglore Pincode-560103</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>9958087983</p>
      <p><i class="fa fa-envelope-o mr-3"></i>info@singlefocus.in</p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col copyright text-center">
    <p class=""><small class="text-white-50">© 2022. All Rights Reserved.</small></p>
  </div>
</footer>

</body>
</html>